@charset "UTF-8";
/* этот сайт защищен авторским правом
Версия: 1.0.3. */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
body {
  font-family: "Montserrat", sans-serif;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --container--laptop: 978px;
  --container--tablet: 768px;
  --container--mobile: 308px;
  --breakpoint--4k: 1921px;
  --breakpoint--desktop: 1920px;
  --breakpoint--laptop: 1024px;
  --breakpoint--tablet: 769px;
  --breakpoint--mobile: 320px;
  --hoverColorOrange: rgba(255, 153, 0, 0.7);
  --focusColorOrange: #ff9900;
  --activeColorOrange: #e1670e;
  --myColor1: #000;
  --myColor2: #ff9900;
  --myColor3: #e1670e;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

.none {
  display: none !important;
}

.container {
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

.title1 {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #ffffff;
}

.title2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
}

.title3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.header {
  position: relative;
  margin: 0 auto;
  padding: 14px 77px 14px 75px;
  max-width: 1920px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #e5e5e5;
}

.header-burger {
  display: none;
}

.burger {
  --myColor1: #000;
  --myColor2: #ff9900;
  --myColor3: #e1670e;
  width: 30px;
  height: 23px;
  cursor: pointer;
  transition: --myColor1 2s linear, --myColor2 3s linear;
}
.burger .burger1 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(var(--myColor1)), to(var(--myColor1)));
  background: linear-gradient(90deg, var(--myColor1) 0%, var(--myColor1) 100%);
}
.burger .burger2 {
  width: 30px;
  height: 7px;
}
.burger .burger3 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(var(--myColor1)), to(var(--myColor1)));
  background: linear-gradient(90deg, var(--myColor1) 0%, var(--myColor1) 100%);
}
.burger .burger4 {
  width: 30px;
  height: 7px;
}
.burger .burger5 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(var(--myColor1)), to(var(--myColor1)));
  background: linear-gradient(90deg, var(--myColor1) 0%, var(--myColor1) 100%);
}
.burger:hover .burger1 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(var(--myColor2)), to(var(--myColor2)));
  background: linear-gradient(90deg, var(--myColor2) 0%, var(--myColor2) 100%);
}
.burger:hover .burger2 {
  width: 30px;
  height: 7px;
}
.burger:hover .burger3 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(16.3%, transparent), color-stop(16.4%, var(--myColor2)));
  background: linear-gradient(90deg, transparent 16.3%, var(--myColor2) 16.4%);
}
.burger:hover .burger4 {
  width: 30px;
  height: 7px;
}
.burger:hover .burger5 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, transparent), color-stop(41%, var(--myColor2)));
  background: linear-gradient(90deg, transparent 40%, var(--myColor2) 41%);
}
.burger:active .burger1 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(var(--myColor3)), to(var(--myColor3)));
  background: linear-gradient(90deg, var(--myColor3) 0%, var(--myColor3) 100%);
}
.burger:active .burger2 {
  width: 30px;
  height: 7px;
}
.burger:active .burger3 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(16.3%, transparent), color-stop(16.4%, var(--myColor3)));
  background: linear-gradient(90deg, transparent 16.3%, var(--myColor3) 16.4%);
}
.burger:active .burger4 {
  width: 30px;
  height: 7px;
}
.burger:active .burger5 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, transparent), color-stop(41%, var(--myColor3)));
  background: linear-gradient(90deg, transparent 40%, var(--myColor3) 41%);
}

.burger.open {
  --myColor1: #000;
  --myColor2: #ff9900;
  --myColor3: #e1670e;
  width: 30px;
  height: 23px;
  cursor: pointer;
}
.burger.open .burger1 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(var(--myColor1)), to(var(--myColor1)));
  background: linear-gradient(90deg, var(--myColor1) 0%, var(--myColor1) 100%);
}
.burger.open .burger2 {
  width: 30px;
  height: 7px;
}
.burger.open .burger3 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(16.3%, transparent), color-stop(16.4%, var(--myColor1)));
  background: linear-gradient(90deg, transparent 16.3%, var(--myColor1) 16.4%);
}
.burger.open .burger4 {
  width: 30px;
  height: 7px;
}
.burger.open .burger5 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, transparent), color-stop(41%, var(--myColor1)));
  background: linear-gradient(90deg, transparent 40%, var(--myColor1) 41%);
}
.burger.open:hover .burger1 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(var(--myColor2)), to(var(--myColor2)));
  background: linear-gradient(90deg, var(--myColor2) 0%, var(--myColor2) 100%);
}
.burger.open:hover .burger2 {
  width: 30px;
  height: 7px;
}
.burger.open:hover .burger3 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(16.3%, transparent), color-stop(16.4%, var(--myColor2)));
  background: linear-gradient(90deg, transparent 16.3%, var(--myColor2) 16.4%);
}
.burger.open:hover .burger4 {
  width: 30px;
  height: 7px;
}
.burger.open:hover .burger5 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, transparent), color-stop(41%, var(--myColor2)));
  background: linear-gradient(90deg, transparent 40%, var(--myColor2) 41%);
}
.burger.open:active .burger1 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(var(--myColor3)), to(var(--myColor3)));
  background: linear-gradient(90deg, var(--myColor3) 0%, var(--myColor3) 100%);
}
.burger.open:active .burger2 {
  width: 30px;
  height: 7px;
}
.burger.open:active .burger3 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(16.3%, transparent), color-stop(16.4%, var(--myColor3)));
  background: linear-gradient(90deg, transparent 16.3%, var(--myColor3) 16.4%);
}
.burger.open:active .burger4 {
  width: 30px;
  height: 7px;
}
.burger.open:active .burger5 {
  width: 30px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, transparent), color-stop(41%, var(--myColor3)));
  background: linear-gradient(90deg, transparent 40%, var(--myColor3) 41%);
}

.menu {
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #38332c;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

.burger.open .menu {
  -webkit-transform: none;
          transform: none;
}

.menu.open {
  -webkit-transform: none;
          transform: none;
}

.header-logo {
  margin: 0 auto 0 0;
}

.header-nav {
  margin-right: 85px;
}

.nav {
  margin: auto 85px auto 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 85px;
}

.nav__item {
  display: inline-block;
  padding: 5px;
}
.nav__item:hover a {
  border-bottom: 2px solid #ff9900;
}

.nav__link {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  border: 2px solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s ease-in;
  transition: border-bottom 0.2s ease-in;
  -webkit-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
}
.nav__link:hover {
  border-bottom: 2px solid #ff9900;
}
.nav__link:focus {
  border: 2px solid #ff9900;
}
.nav__link:active {
  color: #e1670e;
  border: 2px solid transparent;
  border-bottom: 2px solid #e1670e;
}

.header-search {
  margin: auto 0;
}

.header-search__link {
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 2px 2px 0 2px;
}
.header-search__link rect {
  fill: #333333;
}
.header-search__link path {
  stroke: #333333;
}
.header-search__link:hover rect {
  fill: #ff9900;
}
.header-search__link:hover path {
  stroke: #ff9900;
}
.header-search__link:focus {
  outline: 2px solid #ff9900;
}
.header-search__link:active {
  outline: 2px solid transparent;
}
.header-search__link:active rect {
  fill: #e1670e;
}
.header-search__link:active path {
  stroke: #e1670e;
}

@media (max-width: 1024px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-logo {
    margin: initial;
  }
  .header-burger {
    display: block;
  }
  .header-nav {
    display: none;
  }
}
.hero {
  margin-bottom: 100px;
}

.swiper-wrapper {
  position: relative;
}

.hero-wrap {
  max-width: 840px;
  position: absolute;
  top: 100px;
  left: 80px;
  z-index: 10;
}

.hero___title {
  margin-bottom: 24px;
}

.hero__subtitle {
  color: #ffffff;
  margin-bottom: 90px;
}

.hero__order-link {
  display: inline-block;
  padding: 25px 37px;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  background-color: #ff9900;
  color: #ffffff;
}
.hero__order-link:hover {
  background-color: rgba(255, 153, 0, 0.7);
}
.hero__order-link:focus {
  background-color: rgba(255, 153, 0, 0.7);
}
.hero__order-link:active {
  background-color: rgb(225, 103, 14);
}

.swiper-slide img {
  max-width: 1770px;
  min-height: 620px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #fff;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 30px);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}

.about {
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 20px;
}

.about__desc {
  max-width: 1235px;
  margin-bottom: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.about-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  -ms-grid-row: 295;
  grid-row: 295px;
}

.about-grid__item1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-item1 {
  position: relative;
}

.about-item1:hover .about-item1__link {
  -webkit-transition: 0.5s display ease-in;
  transition: 0.5s display ease-in;
  background-color: var(--hoverColorOrange);
}

.about-item1__img {
  width: 100%;
  height: 100%;
}

.about-item1__info {
  width: 100%;
  padding: 50px;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s display ease-in;
  transition: 0.5s display ease-in;
}

.about-item1__desc {
  max-width: 454px;
  margin-right: 139px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.about-item1__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.about-item1__link {
  border: 3px solid #ff9900;
  padding: 20px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.about-item1__link:focus {
  background-color: var(--hoverColorOrange);
}
.about-item1__link:active {
  background-color: var(--activeColorOrange) !important;
}

.about-grid__item2 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.about-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 65px 118px 65px 60px;
}

.about-card__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 190px;
          flex: 0 0 190px;
  margin-right: 50px;
}

.about-card__title {
  margin-bottom: 8px;
}

.about-card__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.about-grid__item3 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.how-we-work {
  margin-bottom: 100px;
}

.how-we-work__title {
  margin-bottom: 50px;
}

.work-steps-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 85px;
  margin-bottom: 55px;
}

.work-steps__link {
  display: inline-block;
  padding: 5px;
  border: 2px solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s ease-in;
  transition: border-bottom 0.2s ease-in;
  -webkit-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
}

.ui-tab a {
  color: rgb(51, 51, 51);
}

.ui-state-hover a {
  color: rgb(255, 153, 0);
}

.ui-state-focus:focus a {
  outline: 2px solid #ff9900;
  color: rgb(51, 51, 51);
}

.ui-tabs-active a {
  color: rgb(225, 103, 14);
}

.work-steps-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-steps-tab__left {
  max-height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 142px;
}

.work-steps-tab__title {
  margin-bottom: 8px;
}

.work-steps-tab__desc {
  max-width: 758px;
  line-height: 32px;
  margin-bottom: 50px;
  overflow: hidden;
}

.work-card__wrap-link {
  margin: auto 0 0 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.work-card__link:not(:last-child) {
  margin-right: 32px;
}

.work-card-link__more {
  padding: 20px 38px;
  background-color: #ff9900;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  -webkit-transition: 0.2s background-color ease-in;
  transition: 0.2s background-color ease-in;
  color: #ffffff;
}
.work-card-link__more:hover {
  background-color: #f7b045;
}
.work-card-link__more:focus {
  background-color: #f7b045;
}
.work-card-link__more:active {
  background-color: #e1670e;
}

.work-card-link__contract {
  padding: 20px 38px;
  border: 1px solid #333333;
  color: #333333;
  -webkit-transition: 0.2s background-color ease-in;
  transition: 0.2s background-color ease-in;
}
.work-card-link__contract:hover {
  color: #fff;
  background-color: #666666;
}
.work-card-link__contract:focus {
  color: #fff;
  background-color: #666666;
}
.work-card-link__contract:active {
  color: #fff;
  background-color: #000000;
}

.work-card__img {
  width: 870px;
  height: 470px;
}

.accordion {
  margin-bottom: 100px;
}

.accordion:last-child {
  border-bottom: 1px solid #cacaca;
}

.questions__title {
  margin-bottom: 32px;
}

.accordion-wrap {
  padding: 30px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #cacaca;
}

.accordion__title {
  margin: 0 auto 0 0;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion__desc {
  margin-bottom: 30px;
  max-width: 1003px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.accordion__text {
  margin-bottom: 30px;
}

.accordion__text:last-child {
  margin-bottom: 40px;
}

.footer .container {
  background-color: #000;
  padding: 50px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-left__logo {
  margin-bottom: 20px;
}

.footer-nav {
  margin-bottom: 90px;
}

.footer-nav__list {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}

.footer-nav__link {
  display: inline-block;
  padding: 2px 5px;
  border: 2px solid transparent;
  color: #cacaca;
}
.footer-nav__link:hover {
  color: #ff9900;
}
.footer-nav__link:focus {
  border: 2px solid #ff9900;
}
.footer-nav__link:active {
  border: 2px solid transparent;
  color: #e1670e;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.footer-social__img {
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 5px;
}

.footer-right {
  max-width: 363px;
  padding-top: 87px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}

.footer-social__img {
  fill: #7c7c7c;
}
.footer-social__img:hover {
  fill: #ff9900;
}

.footer-social__link:focus .footer-social__img {
  fill: #7c7c7c;
  outline: 2px solid #ff9900;
}

.footer-social__link:active .footer-social__img {
  fill: #e1670e;
  outline: 2px solid transparent;
}
/*# sourceMappingURL=main.css.map */