.header {
    position: relative;
    margin: 0 auto;
    padding: 14px 77px 14px 75px;
    max-width: 1920px;
    align-items: center;

    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #e5e5e5;
}
.header-burger {
    display: none;
}
.burger {
    --myColor1: #000;
    --myColor2: #ff9900;
    --myColor3: #e1670e;
    width: 30px;
    height: 23px;
    cursor: pointer;
    transition: --myColor1 2s linear, --myColor2 3s linear;

    .burger1 {
        width: 30px;
        height: 3px;
        background: linear-gradient(
            90deg,
            var(--myColor1) 0%,
            var(--myColor1) 100%
        );
    }
    .burger2 {
        width: 30px;
        height: 7px;
    }
    .burger3 {
        width: 30px;
        height: 3px;
        background: linear-gradient(
            90deg,
            var(--myColor1) 0%,
            var(--myColor1) 100%
        );
    }
    .burger4 {
        width: 30px;
        height: 7px;
    }
    .burger5 {
        width: 30px;
        height: 3px;
        background: linear-gradient(
            90deg,
            var(--myColor1) 0%,
            var(--myColor1) 100%
        );
    }

    &:hover {
        .burger1 {
            width: 30px;
            height: 3px;
            background: linear-gradient(
                90deg,
                var(--myColor2) 0%,
                var(--myColor2) 100%
            );
        }
        .burger2 {
            width: 30px;
            height: 7px;
        }
        .burger3 {
            width: 30px;
            height: 3px;

            background: linear-gradient(
                90deg,
                transparent 16.3%,
                var(--myColor2) 16.4%
            );
        }
        .burger4 {
            width: 30px;
            height: 7px;
        }
        .burger5 {
            width: 30px;
            height: 3px;
            background: linear-gradient(
                90deg,
                transparent 40%,
                var(--myColor2) 41%
            );
        }
    }
    &:active {
        .burger1 {
            width: 30px;
            height: 3px;
            background: linear-gradient(
                90deg,
                var(--myColor3) 0%,
                var(--myColor3) 100%
            );
        }
        .burger2 {
            width: 30px;
            height: 7px;
        }
        .burger3 {
            width: 30px;
            height: 3px;
            background: linear-gradient(
                90deg,
                transparent 16.3%,
                var(--myColor3) 16.4%
            );
        }
        .burger4 {
            width: 30px;
            height: 7px;
        }
        .burger5 {
            width: 30px;
            height: 3px;
            background: linear-gradient(
                90deg,
                transparent 40%,
                var(--myColor3) 41%
            );
        }
    }
}
.burger.open {
    --myColor1: #000;
    --myColor2: #ff9900;
    --myColor3: #e1670e;
    width: 30px;
    height: 23px;
    cursor: pointer;
    .burger1 {
        width: 30px;
        height: 3px;
        background: linear-gradient(
            90deg,
            var(--myColor1) 0%,
            var(--myColor1) 100%
        );
    }
    .burger2 {
        width: 30px;
        height: 7px;
    }
    .burger3 {
        width: 30px;
        height: 3px;
        background: linear-gradient(
            90deg,
            transparent 16.3%,
            var(--myColor1) 16.4%
        );
    }
    .burger4 {
        width: 30px;
        height: 7px;
    }
    .burger5 {
        width: 30px;
        height: 3px;
        background: linear-gradient(
            90deg,
            transparent 40%,
            var(--myColor1) 41%
        );
    }
    &:hover {
        .burger1 {
            width: 30px;
            height: 3px;
            background: linear-gradient(
                90deg,
                var(--myColor2) 0%,
                var(--myColor2) 100%
            );
        }
        .burger2 {
            width: 30px;
            height: 7px;
        }
        .burger3 {
            width: 30px;
            height: 3px;
            background: linear-gradient(
                90deg,
                transparent 16.3%,
                var(--myColor2) 16.4%
            );
        }
        .burger4 {
            width: 30px;
            height: 7px;
        }
        .burger5 {
            width: 30px;
            height: 3px;
            background: linear-gradient(
                90deg,
                transparent 40%,
                var(--myColor2) 41%
            );
        }
    }
    &:active {
        .burger1 {
            width: 30px;
            height: 3px;
            background: linear-gradient(
                90deg,
                var(--myColor3) 0%,
                var(--myColor3) 100%
            );
        }
        .burger2 {
            width: 30px;
            height: 7px;
        }
        .burger3 {
            width: 30px;
            height: 3px;
            background: linear-gradient(
                90deg,
                transparent 16.3%,
                var(--myColor3) 16.4%
            );
        }
        .burger4 {
            width: 30px;
            height: 7px;
        }
        .burger5 {
            width: 30px;
            height: 3px;
            background: linear-gradient(
                90deg,
                transparent 40%,
                var(--myColor3) 41%
            );
        }
    }
}

.menu {
    padding: 45px;
    position: absolute;
    z-index: 5;

    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #38332c;
    transition: transform 0.3s ease-in;
    transform: translateX(-101%);

    &__item {
        margin-bottom: 35px;
    }
    &__link {
        text-align: center;
        color: #fff;
        font-weight: 400;
        font-size: 48px;
        line-height: 59px;
    }
}

.menu__list {
    z-index: 99;
}

.burger.open .menu {
    transform: none;
}
.menu.open {
    transform: none;
}

.header-logo {
    margin: 0 auto 0 0;
}
.header-nav {
    margin-right: 85px;
}
.nav {
    margin: auto 85px auto 0;
}
.nav__list {
    display: flex;
    gap: 85px;
}
.nav__item {
    display: inline-block;

    padding: 5px;
    &:hover a {
        border-bottom: 2px solid #ff9900;
    }
}
.nav__link {
    display: inline-block;
    box-sizing: border-box;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #333333;

    border: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease-in;
    transition: border 0.2s ease-in;
    // transition: color 0.2s ease-in;

    &:hover {
        border-bottom: 2px solid #ff9900;
    }
    &:focus {
        border: 2px solid #ff9900;
    }
    &:active {
        color: #e1670e;
        border: 2px solid transparent;

        border-bottom: 2px solid #e1670e;
    }
}
.header-search {
    margin: auto 0;
}

// svg==========================

.header-search__link {
    display: inline-block;
    box-sizing: content-box;
    padding: 2px 2px 0 2px;

    rect {
        fill: #333333;
    }
    path {
        stroke: #333333;
    }
    &:hover {
        rect {
            fill: #ff9900;
        }
        path {
            stroke: #ff9900;
        }
    }
    &:focus {
        outline: 2px solid #ff9900;
    }
    &:active {
        outline: 2px solid transparent;
        rect {
            fill: #e1670e;
        }
        path {
            stroke: #e1670e;
        }
    }
}
