@include laptop {
    .header-menu.none {
        display: block !important;
    }
    .header {
        display: flex;
        justify-content: space-between;
    }
    .header-logo {
        margin: initial;
    }
    .header-burger {
        display: block;
    }
    .header-nav {
        display: none;
    }
}
@include tablet {
}
@include mobile {
}
