.footer .container {
    background-color: #000;
    padding: 50px 75px;
    display: flex;
    justify-content: space-between;
}

.footer-left {
}
.footer-left__logo {
    margin-bottom: 20px;
}
.footer-left__nav {
}
.footer-nav {
    margin-bottom: 90px;
}
.footer-nav__list {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
}
.footer-nav__item {
}
.footer-nav__link {
    display: inline-block;
    padding: 2px 5px;
    border: 2px solid transparent;

    color: #cacaca;
    &:hover {
        color: #ff9900;
    }
    &:focus {
        border: 2px solid #ff9900;
    }
    &:active {
        border: 2px solid transparent;
        color: #e1670e;
    }
}

.footer-social {
    display: flex;
    gap: 15px;
}
.footer-social__link {
    // display: inline-block;
    // box-sizing: content-box;
    // padding: 15px;
    // border: 2px solid transparent;
}
.footer-social__img {
    display: inline-block;
    box-sizing: content-box;
    padding: 5px;
}
// ====================================
.footer-center {
}

.footer-form {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #cacaca;
}
// .footer-form textarea::placeholder {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 32px;
//     color: #cacaca;
// }
// .footer-form input::placeholder {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 32px;
//     color: #cacaca;
// }
.footer-form *::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #cacaca;
}
.form {
    max-width: 570px;
}
.footer-center__titile {
    margin-bottom: 25px;
    color: #cacaca;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
}

.form__label {
    padding-left: 24px;
    width: 570px;
    margin-bottom: 25px;
    background: #414141;
    &:hover,
    &:focus,
    &:active {
        background: #666666;
    }
}
.form__input {
    height: 60px;
}

.form-label:last-child {
    margin-bottom: 32px;
}
.form__textarea {
    padding-top: 14px;
    height: 150px;
}

.form__btn {
    padding: 19px 52px;
    margin-right: 25px;
    background: #ff9900;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.form__checbox {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #cacaca;
}

// ======================================
.footer-right {
    max-width: 363px;
    padding-top: 87px;

    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #cacaca;
}

// svg
.footer-social__img {
    fill: #7c7c7c;
    &:hover {
        fill: #ff9900;
    }
}

.footer-social__link:focus .footer-social__img {
    fill: #7c7c7c;

    outline: 2px solid #ff9900;
}
.footer-social__link:active .footer-social__img {
    fill: #e1670e;
    outline: 2px solid transparent;
}
